.nav{
     background-color: #236d5a;
     .container{
         width: 90%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 auto;
         .nav-left{
            h1{
                color:white
            }
           }
           .nav-right{
            ul{
                display: flex;
                gap:20px;
                a{
                    text-decoration: none;
                    li{
                      list-style: none; 
                      color:white;      
                  }
                }
                
            }
          }
     }
    
    
}