.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#436f5a;
    background-color: #e0ecdc;
    display: flex;
    justify-content: space-evenly;
    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }
    
}